@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

:root {
  --dark-slate-grey: #36453b;
  --dim-grey: #596869;
  --ebony: #515751;
  --ivory: #f5f9e9;
  --sage: #c2c1a5;
}

/* Universal Styling */
* {
  font-family: "Merriweather", serif;
}

.navbar {
  background-color: var(--dark-slate-grey);
  color: var(--ivory);
}

.wrapper {
  background-color: var(--dim-grey);
  color: var(--sage);
}

/* Styling for Home Page */

.greater-outdoors {
  margin: 2em;
}

.greater-outdoors > p {
  margin: 0;
}

.home-img {
  width: 75%;
  margin-top: 2em;
}

/* Styling for National Parks Page */

.card {
  border: none !important;
  border-radius: 10px !important;
}

.card-body {
  background-color: var(--ebony) !important;
  color: var(--sage) !important;
  border: none !important;
  border-radius: 10px;
}

.card-link {
  color: var(--ivory);
}

/* Styling for Mountains */

.mountain-img {
  margin: 2em 0;
}
